name: release

on:
  push:
    tags: [ 'v*' ]

permissions:
  contents: write

jobs:
  release:
    uses: go-simpler/.github/.github/workflows/release.yaml@main
    with:
      version: ${{ github.ref_name }}
      goreleaser: true
